body{
    font-family: 'Poppins', sans-serif;
    
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 40px;
    
}
.half-width img {
    width: 80%;
}
.half-width p {
    font-size: 20px;
}
.single-color{
    color: darkorange;
}
.link-button{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(tomato,salmon);
    padding: 10px 20px;
    color:white;
    border-radius: 25px;
}
.background-img{
    background-image: url(images/7.png);
    background-size: cover;   
    }

    .third-section{
        text-align: center;
    }
    .food img{
            width: 95%;
            padding-top: 20px;
            padding-left: 10px;
    }
    .food{
        width:400px;
        margin: 10px;
        box-shadow: 10px 20px 40px gray;
        margin-left: 80px;
        border-radius: 30px;

    }
    .food-box{
        padding: 10px;
    }
    .food-box .food-title{
            font-size: 30px;
            text-align: center;
    }

    .food .food-description{
        text-align: justify;
        padding: 5px;
    }
    
    .food-container{
        display: flex;
        margin-top: 50px;
    }
    footer{
        text-align: justify;
        text-align: center;
        margin-top: 80px;
        background-color: rgb(20, 19, 19);
        padding: 60px;
        color: white;
    }